body {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 5px;
    position: sticky;
    list-style-type: none;
    overflow: hidden;
    background-color: #64a8bd;
}

li a {
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #6295a5;
}

section div {
    display:inline-block;
    align-items: center;
    padding: 10px;
    margin: 40px 20px;
    height: 250px;
    width: 250px;
    border: 1px solid #64a8bd;
    border-radius: 10px;
}
section img {
    height: 100px;
    width: 250px;
}

section button {
    background-color: #64a8bd;
    color: blanchedalmond;
    border-radius: 30%;
    width: 100px; height: 35px;
}

section button:hover {
    background-color: #6295a5;
}